@import "tailwindcss";

* {
  /* color: #fff;   */
}


body {
  background-color: #111;
}

#tasklist::-webkit-scrollbar {
  display: none;
}

.high {
  background-color: red;
}

.low {
  background-color: orangered
}

.intermediate {
  background-color: rgb(225, 99, 99);
}